* {
	outline: 1px solid red !important;
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.image {
	max-width: 400px;
	margin-right: 24px
}
.description {
	color: red;
	max-width: 70%;
}
.app {
	display: -webkit-flex;
	display: flex;
}
.title {
	color: white;
	background-color: #33bebe;
	padding: 25px 4px 4px 8px;
}